/**********
    CUSTOM PROPS
**********/
:root {
    --primary-color: #1abc9c;
    --secondary-color: #ffffff;
    --teriary-color: #2c3e50;
}



/**********
    DEBUG
**********/
.debug {
    border: 2px solid black;
    min-height: 50px;
}


/**********
    HEADER
**********/
#header {
    background-color: var(--teriary-color);
}

/**********
    MAIN
**********/
#main section:nth-of-type(odd) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#main section:nth-of-type(even) {
    background-color: var(--secondary-color);
    color: var(--teriary-color);
}

/**********
    FOOTER
**********/
#footer section:first-child {
    background-color: var(--teriary-color);
}

#footer section:last-child {
    background-color: #233241;
}