/**********
    CUSTOM PROPS
**********/
:root {
    --primary-color: #1abc9c;
    --secondary-color: #ffffff;
    --tertiary-color: #2c3e50;
}

/**********
    DEBUG
**********/
.debug {
    border: 2px solid black;
    min-height: 50px;
}

/**********
    RESET
**********/

img {
    max-width: 100%;
}

/**********
    HEADER
**********/
#header {
    background-color: var(--tertiary-color);
}

/**********
    MAIN
**********/
#main section:nth-of-type(odd) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#main section:nth-of-type(even) {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

/* divider bar */
#main .divider__bar {
    height: 4px;
    /* width: 50px; */
    background-color: var(--secondary-color);
}

#main section:nth-of-type(even) .divider__bar {
    background-color: var(--tertiary-color);
}

/** HERO  **/
#hero .section__img {
    width: 250px;
}

/** CONTACTS **/
#contacts input {
    border: none;
    color: var(--tertiary-color);
}

#contacts .form__button {
    background-color: var(--primary-color);
}

/**********
    FOOTER
**********/
#footer section:first-child {
    background-color: var(--tertiary-color);
}

#footer section:last-child {
    background-color: #233241;
}

/** FOOTER INFO **/
#footer__info .footer__social {
    width: 40px;
    aspect-ratio: 1;
    line-height: 38px;
}

/** COPYRIGHT **/
#copyright {
    font-size: 0.8rem;
}